
.saga{
    background-image: url(https://img.freepik.com/premium-photo/empty-beach-sea_1339-91011.jpg?w=900);
    height: 100vh;
    width: 215vh;
    background-size: cover;
    color: cadetblue; 
}
.button{
    background-color: rgb(87, 181, 181);
    color: #ffffff;
    border-radius: 8px; 
    border-width: 0px;
    height: 30px;
    width: 130px;
    

}